/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* make background color of everything black */
body {
  background-color: black;
  color: white;
}

/* add global padding left and right */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Cinzel', serif;
}
