<div class="relative h-[90vh] bg-cover bg-center flex flex-col justify-center items-center text-center p-16" style="background-image: url('assets/products/Enchanted-wand-of-lumos.webp');">
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div class="relative z-10">
    <h1 class="text-2xl text-white mb-2">Produit du jour</h1>
    <h3 class="text-4xl font-bold text-white mb-4">{{ todayProduct.name }} ({{todayProduct.price}} $)</h3>
    <app-buy-button [label]="'Acheter maintenant'"></app-buy-button>
  </div>
</div>
